{% extends 'base.html' %}

{% block title %}

{% if 'add' in request.path %}
Создать статью
{% elif 'edit' in request.path %}
Изменить статью
{% endif %}

{% endblock %}

{% block content %}
<div class="container my-4">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark">
            {% if 'add' in request.path %}
            Создать
            {% elif 'edit' in request.path %}
            Изменить
            {% endif %}
        </button>
    </form>
</div>
{% endblock %}