{% extends 'base.html' %}

{% block title %}
    Категория: {{ category_title }}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center my-4">
            <h1>{{ category_title }}</h1>
            <a href="{% url 'all_categories' %}">Все статьи</a>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-2 border">

                    <h4>Сортировка</h4>
                    <div class="mb-2">
                        {% if request.GET.sort == 'title' %}
                            <a href="?sort=-title">От А-Я</a>
                        {% else %}
                            <a href="?sort=title">От А-Я</a>
                        {% endif %}


                    </div>
                    <div class="mb-2">
                        {% if request.GET.sort == 'views' %}
                            <a href="?sort=-views">По просмотрам</a>
                        {% else %}
                            <a href="?sort=views">По просмотрам</a>
                        {% endif %}
                    </div>
                    <div class="mb-2">
                        {% if request.GET.sort == 'created_at' %}
                            <a href="?sort=-created_at">По дате создания</a>
                        {% else %}
                            <a href="?sort=created_at">По дате создания</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-10">
                    <div class="row row-gap-4">
                        {% for article in articles %}
                            <div class="col-3">{% include 'includes/_card.html' %}</div>
                        {% endfor %}
                    </div>
                    {% include 'includes/_pagination.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}